<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>{{title}} - Topple</title>
    <!--  Material Design CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!--  Our CSS style sheet -->
    <link rel="stylesheet" type="text/css" href="stylesheets/topple.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <script src="Scripts0.js"></script> -->
    <link href="stylesheets/imagur-style.css" rel="stylesheet" media="screen">
    <link href="stylesheets/imagur-mobile.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="js/imagur.js"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <!-- Top Bar -->
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/feed">
                <span class="mdl-layout-title"><img id="logo" src="images/logo.png" style="height: 50px;"></span>
            </a>
            <!-- Add spacer, to align navigation to the right -->
            <!-- <div class="mdl-layout-spacer"></div> -->
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a style="font-size: 16px;" class="mdl-navigation__link" href="/profile">Profile</a>
            </nav>

            <span class="inline">
                <form class="inline" method="GET" action="/search">
                    <span class="mdl-textfield mdl-js-textfield toppleTextForm">
                        <input class="mdl-textfield__input" type="text" id="searchbox" name="q">
                        <label style="color:white;" class="mdl-textfield__label" for="searchbox">Search</label>
                    </span>
                    <span>
                        <input style="color:white;" class="mdl-button mdl-js-button inline" type="submit" value="Search">
                    </span>
                </form>
            </span>
            <span class="inline">
                <a style="font-size: 16px;" class="mdl-navigation__link" href="/post">Post</a>
            </span>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <span id="settingsButton">
                    <a style="font-size: 16px;" class="mdl-navigation__link" href="/settings">Settings</a>
                </span>
            </nav>
            <span class="inline">
                <a style="font-size: 16px;" class="mdl-navigation__link" href="#" onclick="logout();">Logout</a>
            </span>
        </div>
    </header>


    <!-- Friend List Bar -->
    <!-- The drawer is always open in large screens. The header is always shown,
    even in small screens. -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title" id="friend_list_title">No friends found.</span>
        <div class="mdl-navigation" id="friend_list">
            <!--friends are added via ajax-->
        </div>
    </div>

    <!-- Main Content -->
    <main class="mdl-layout__content">
        <div class="page-content centerPage">
            <!-- Your content goes here -->
            {{{ body }}}
        </div>
    </main>
</body>
</html>

<script>
    $(document).ready(function() {
        $.ajax({
		    url: "{{friend_list_link}}?token=" + sessionStorage.getItem("token"),
		    type: 'GET',
		    success: function(data) {
                let json_response = JSON.parse(data);
                if (json_response.length) {
                    $("#friend_list_title")[0].innerHTML = "Friends";
                }
                $.each(json_response, function(index, friend) {
                    $("#friend_list").append("<a class='mdl-navigation__link' href='/profile?profile_user=" + friend["username"] + "'>" + friend["displayName"] + "</a>");
                });
		    }
		});
    });

    function logout() {
        sessionStorage.setItem("token", null);
        window.location.replace("/login");
    }
</script>
